body {
    /* background-image: url("../images/circuit-board.jpg"); */
    background-color: #ffcccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ff8080;
    font-family: 'Old Standard TT', serif;
  }
  
  
  .jumbotron {
      background-color: #ff9999;
      color: white;
  }

  .card {
    background-color: #ff9999;
      color: white;
  }

  #nav {
      text-align: center;
  }

  #skills {
    margin-top: 20px;
  }

  a {
    color: white;
  }

  /* a:visited {
    color: #ffdb4d;
  } */
  
  a:hover {
    color: #ffdb4d;
  }
  
  a:active {
    color: #ffdb4d;
  } 

  .gild {
    color: #ffdb4d;
  }
